body {
    background-image:url("../img/bg.jpg");
    color:white;
}
table{
    color:#ffffff;
    border-radius:8px;
    width:320px;
    height:296px;
    margin-top:200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
#lbl_email{
    color:orange;
    font-size:20px;
    font-family:Arial;
}
#lbl_password{
    color:orange;
    font-size:20px;
    font-family:Arial;
  
}
#lbl_email:hover{
    color:red;
}
#lbl_password:hover{
    color:red;
}
#txtb_password{
    border-radius:2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #000000;
    padding: 0 2px 0 4px;

}
#txtb_email{
    border-radius:2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #000000;
    padding: 0 2px 0 4px;
}
.button {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 15px 0px 0px 15px;
    font-size: 18px;
    text-transform: uppercase;
    background: #ED5E2F;
    color: #FFF;
    border: 0px none;
    outline: 0px none;
}

.button:hover {
    background: #74A599;
}

.button:active {
    background: #F6A953;
}